@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-body text-lg antialiased;
  /* @apply flex flex-col; */
  @apply bg-accent;
  @apply text-fg;
}

::selection {
  @apply bg-fg text-bg;
}

.container {
  @apply bg-bg;
}

header {
  @apply py-5;
}

main {
  @apply flex-1 py-10;
}

footer {
  @apply py-5 text-sm;
}

header {
  @apply font-title;
}

li.entry {
  @apply mb-2 py-0;
  /* @apply mb-2 pl-2 border-black border-l py-0; */
  @apply hover:border-red-500 transition-colors duration-200;
}

li.outdated,
li.outdated * {
  @apply text-gray-500;
}

:is(h1, h2, h3, h4, h5, h6) {
  @apply font-title;
}

b {
  @apply font-normal;
}

hr {
  @apply my-4;
}

h2 {
  @apply text-3xl font-bold;
  @apply mb-4;
}

h4 {
  @apply text-xl font-normal;
  @apply mb-2;
}

a:not(.header-url) {
  @apply transition-colors duration-200 ease-in-out;
  @apply underline underline-offset-2 decoration-gray-400;
}

a:hover:not(.header-url) {
  @apply text-highlight;
}

.trans {
  @apply underline decoration-black/20;
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-200 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}