---
import Container from "@components/Container.astro";
---

<footer class="animate">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2025 | vinit ravishankar | made in Astro
      </div>
    </div>
  </Container>
</footer>
