---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2025 | {SITE.NAME} | made in Astro
      </div>
    </div>
  </Container>
</footer>
